.submit-button-handler{
    width: 100%;
    margin: 10px 0 0 0;
    padding: 15px;
    background-color:#cf4520 ;
    color: #ffffff;
    border: 0;
    border-radius: 10px;
}

.submit-button-handler:hover{
    cursor: pointer;
    background-color:#3b4773 ;
}

.disabled{
    background-color:gray;
}

.disabled:hover{
    cursor: pointer;
    background-color:gray;
}